main{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  align-items: center;

  h1{
    margin: 2rem auto;
    justify-self: flex-start;
  }
  h3{ margin-bottom: 3rem; }

  form {
    border: darkcyan 2px solid;
    border-radius: 50px;
    padding: 10px;
    width: 33%;

    mat-form-field {
      width: 80%;
      margin: 0 2rem;
    }
  }

  div{
    a{
      display: block;
      text-decoration: none;
      padding: 0.5rem;
      color: darkcyan;
    }
  }
}
