h2{
  margin: 3rem;
  text-align: center;
}
div{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  form {
    margin: 5rem;
    border: darkcyan 2px solid;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    width: 50%;

    mat-form-field {
      width: 70%;
      margin: 0 1rem;
    }
    button{
      float: right;
    }
  }
}
