<div *ngIf="show" class="countdown">
  <!--if there's upcoming episode it displays countdown-->
  <div *ngIf="duration" [ngStyle]="duration.asSeconds() > 0? {'display': 'block'}:{'display': 'none'}">
    <button mat-flat-button color="warn" (click)="openBottomSheet()"
              [innerText]="'Next episode in: '
              + duration.months() + ' Months, '
              + duration.days() + ' Days, '
              + duration.hours() + ' Hours, '
              + duration.minutes() +' Minutes, '
              + duration.seconds() +' Seconds.'">
    </button>
  </div>
</div>
<mat-card *ngIf="show">
  <mat-card-header>
    <div *ngIf="show.image" mat-card-avatar [ngStyle]="{'background-size': 'cover', 'background-image': 'url('+show.image+')'}"></div>
    <mat-card-title [innerText]="show.name"></mat-card-title>
    <mat-card-subtitle [innerHTML]="show.summary"></mat-card-subtitle>
    <mat-slide-toggle [(ngModel)]="checked">Show spoilers!</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion *ngIf="show.seasons">
      <mat-expansion-panel *ngFor="let season of show.seasons">
        <mat-expansion-panel-header>
          <mat-panel-title [innerHTML]="'Season: ' + season.number">
          </mat-panel-title>
          <mat-panel-description *ngIf="season.premiereDate.isValid()">Premiere Date: {{season.premiereDate | date}}
          </mat-panel-description>
          <mat-panel-description *ngIf="season.endDate.isValid()">End Date: {{season.endDate | date}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-episodes *ngIf="season.premiereDate.isValid()" [season]="season" [checked]="checked"></app-episodes>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
