h2{
  text-align: center;
}
mat-accordion{
  mat-expansion-panel{
    mat-expansion-panel-header{
      mat-panel-title{
        max-width: 50%;
      }
      mat-panel-description{
        max-width: 25%;
      }
    }
  }
}
img{
  float: left;
  margin-right: 1.5rem;
}
mat-action-row{
  padding-top: 1rem;
}
button, a{
  margin-right: 1rem;
}
.details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
