main {
  margin: 2rem auto;
  max-width: 100%;
  padding: 0 1rem;
  min-height: calc(100vh - 120px);
}

@media only screen and (min-width: 770px) {
  main {
    max-width: 90%;
    padding: 0 1.5rem;
  }
}

@media only screen and (min-width: 1290px) {
  main {
    max-width: 85%;
    padding: 0 2rem;
  }
}
