td{
  margin: 0 auto;
}
.summary{
  padding: 0 1rem;
  width: 60%;
}
.container {
  position: relative;
  text-align: center;
}
.blackCenter{
  color: black;
}
.whiteCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
table{
  width: 100%;
}
h3{
  text-align: left;
}
