.summary{
  padding: 0 .5rem;
}
.container {
  position: relative;
  text-align: center;
}
.blackCenter{
  color: black;
}
.whiteCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
