
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme
// Note: Angular Material 19 uses Material 3 theming with 'tertiary' instead of 'accent'
$tv-app-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
    tertiary: mat.$yellow-palette,
  ),
  typography: (
    brand-family: 'Roboto, "Helvetica Neue", sans-serif',
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
html {
  @include mat.all-component-themes($tv-app-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { max-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
